site_name: pizza_son
site_description: Documentation for the pizza_son Twitch bot
site_url: https://stumburs.github.io/pizza-son

theme:
  name: material
  palette:
    scheme: slate
    primary: deep purple
    accent: purple
  features:
    - navigation.instant
    - navigation.top
    - search.suggest
    - search.highlight
    - search.share

plugins:
  - search:
      separator: '[\s\-\!]+'
      indexing: full

nav:
  - Home: index.md
  - Commands: commands.md

repo_url: https://github.com/stumburs/pizza-son
repo_name: pizza-son

markdown_extensions:
  - admonition
